<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Nodemono</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" href="/flat-ui/css/flat-ui.css">
    
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/js-data/dist/js-data.min.js"></script>
    <script src="/js-data-angular/dist/js-data-angular.min.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="NodemonoApp">
    <navbar></navbar>
    <ui-view></ui-view>
</body>
</html>
