<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container navbar-container">

        <div class="navbar-header">
            <nodemono-logo ui-sref='home' id="navbar-logo" ></nodemono-logo>
            <button class='btn login-button' id="org-name" ui-sref='home'>mash<span class="glyphicon glyphicon-hand-up"></span></button>
        </div>


        <div class='nav navbar-right'>
          <div ng-if="!user">
            <button ui-sref="login" class="btn btn-primary btn-login">Login</button>
            <button ui-sref="signup" class="btn btn-primary btn-login">Signup</button>
          </div>
          <div ng-if='user' class='welcome'>
            <span class='navbar-text'>Welcome  <span ui-sref="profile({ id: user._id })">{{ user.name }}</span>!</span>
            <button ng-click='logout()' class='btn btn-primary btn-login'>Logout</button>
          </div>
        </div>

<!--         <div class='nav navbar-right divider' ng-show="user" >
          <span class='glyphicon glyphicon-search' ng-click='toggle()'></span>
        </div> -->

        <div class='nav navbar-right'>
          <input ng-if='show && user' ng-enter='search()' class='form-control' id="searchbar" type='text' placeholder='search for something...'></input>
        </div>

        <div class='nav navbar-right'>
          <button
            ng-if='user'
            ng-repeat='item in userItems'
            ng-show='!item.auth || isLoggedIn()'
            ui-sref='{{ item.state }}'
            class='btn login-button'
            >{{ item.label }}
          </button>
        </div>

        <div class='nav navbar-right'>
          <button
            ng-if='!user'
            ng-repeat='item in items'
            ng-show='!item.auth || isLoggedIn()'
            ui-sref='{{ item.state }}'
            class='btn login-button'
            >{{ item.label }}
          </button>
        </div>

    </div>
</nav>
