<div class="main-container">
	<div class = "container" id="accordion"> 
		<h1>Build your own pipe</h1>
		<hr>
		<br>
		<v-accordion class="vAccordion--default" multiple>
			<v-pane>
				<v-pane-header expanded>
					What are pipes?
				</v-pane-header>

				<v-pane-content>
					<p> 
						Pipes are an application for building data mashups to aggregate feeds, pages, or other services from the web, creating applicable content from various sources.

						To begin, follow the panes below to build your new pipe! Create a name for your new pipes and select the sources of data you're interested in converging. Use some of our custom filters to help you parse through your data.
					</p>
				</v-pane-content>
			</v-pane>

 			<v-pane>
				<v-pane-header>
					Name your pipe:
				</v-pane-header>

				<v-pane-content>
					<input type="text" placeholder="Write name..." class="form-control input-hg flat" ng-model="pipe.name" />
				</v-pane-content>
			</v-pane>

			<v-pane>
				<v-pane-header>
					Your API Routes
				</v-pane-header>

				<v-pane-content >
			  		<ul class="pane-list" ng-repeat="route in routes">
		    			<route route="route" toggle="toggleRoute(route)"></route>
		        	</ul>
				</v-pane-content>
			</v-pane>

			<v-pane>
				<v-pane-header>
					Your Pipes
				</v-pane-header>

				<v-pane-content>    
			        <ul class="pane-list" ng-repeat="pipe in pipes">
			    		<pipe pipe="pipe" toggle="togglePipe(pipe)" get="getPipedData(pipe)"></pipe>
			        </ul>
				</v-pane-content>
			</v-pane>

			<v-pane>
				<v-pane-header>
					Apply filters
				</v-pane-header>

				<v-pane-content>    
					<ul class="pane-list" ng-repeat="filter in filters">
						<filter filter="filter" select="selectFilter(filter)"></filter>	
					</ul>
				</v-pane-content>
			</v-pane>		 
		</v-accordion>

		<hr>

		<h6 ng-model="pipe.name">
			Your pipe's name: <span class="lead" id="pipe-name"> {{pipe.name}} </span>
		</h6>

		<table class="table table-striped table-condensed">
			<tbody>
				<!-- table headings for pipes -->
				<tr>
					<th>Active API Routes</th>
					<th>Last Crawl Status</th>
					<th>Count</th>
				</tr>

				<tr ng-show="!pipe.inputs.routes.length"class="mock-mash">
					<td>Example Route</td>
					<td>(00/00/00 00:00 PM)</td>
					<td>00</td>
				</tr>

				<!-- table content for pipes -->

				<tr ng-repeat="route in pipe.inputs.routes">
					<td>
						<a ng-click="route.go(user._id)">{{route.name}}</a></td>
					<td>
			            <span
			              id='nm-status'
			              ng-show='!editing.crawl'
			              ng-class="route.lastCrawlSucceeded ? ['glyphicon glyphicon-ok-circle', 'success'] : ['glyphicon glyphicon-remove-circle', 'error']">
			            </span>
			            <span ng-model='crawlStatus'>{{ crawlStatus }} ({{ route.lastTimeCrawled | date : 'short' }})</span>
		          </td>
		          <td>{{route.count}}</td>
				</tr>

				<!-- table headings for routes -->

				<tr>
					<th>Active Pipes</th>
					<th>Pipe status</th>
					<th>Count</th>
				</tr>

				<tr ng-show="!pipe.inputs.pipes.length" class="mock-mash">
					<td>Example Pipe</td>
					<td>(00/00/00 00:00 PM)</td>
					<td>00</td>
				</tr>

				<!-- table content for routes -->
				<tr ng-repeat="pipe in pipe.inputs.pipes">
					<td>
						<a ng-click="pipe.go(user._id)">{{pipe.name}}</a>
					</td>
					<td>
			            <span
			              id='nm-status'
			              ng-show='!editing.crawl'
			              ng-class="pipe.lastPipeSucceeded ? ['glyphicon glyphicon-ok-circle', 'success'] : ['glyphicon glyphicon-remove-circle', 'error']">
			            </span>
			            <span ng-model='pipeStatus'>{{ pipeStatus }} ({{ pipe.lastTimePiped | date : 'short' }})</span>
		          </td>
		          <td>{{pipe.count}}</td>
				</tr>

				<!-- table headings for filters -->

				<tr>
					<th>Name of filter</th>
					<th>Description</th>
					<th>Parameters</th>
				</tr>

				<tr ng-show="!pipe.inputs.routes.length" class="mock-mash">
					<td>Example Filter</td>
					<td>Filters two things...</td>
					<td>2</td>
				</tr>

				<!-- table content for filters -->

				<tr ng-repeat="filter in pipe.filters">
					<td>
						{{filter.name}}
					</td>
					<td>
						{{filter.description}}
		          	</td>
		          	<td>
		          		<span ng-repeat="param in filter.parameters">{{param}}</span> 
		          	</td>
		          	<td>
		          		
		          	</td>
				</tr>
			</tbody>
		</table>
  		
		<div> 
			<a class="btn btn-info lead" ng-click="generateOutput()">Generate Output</a> 
			<a class="btn btn-primary lead" ng-click="savePipe()">Save Pipe</a>
		</div>
		<pre>{{pipe.output | json}}</pre>
	</div>
</div>
