<section id="profile">
	<div class='row'>
	  <div id='apiHeader' class='col-md-8'>
	    <p id='pipename' ng-model='pipe.name' editablecontent editable='editing.pipename'>{{ pipe.name }}</p>
	    <button
	      class='btn-nodemono'
	      ng-class="editing.pipename ? 'editing' : 'not-editing'"
	      ng-click="toggleStatus('pipename')"
	      ng-bind="editing.pipename ? 'save' : 'edit'">
	    </button>
	  </div>
	  <div class='btn-group col-md-4 api-action'>
	    <button class='btn btn-nodemono' ng-click='clonePipe()'>clone pipe</button>
	    <button class='btn btn-nodemono' ng-click='deletePipe()'>delete pipe</button>
	  </div>
	</div>
	<div class='row'>
	  <div class='col-md-8'>
	    <table id='headerTable'>
	      <tbody>
	        <tr>
	          <td class='td-label'>Pipe URL</td>
	          <td>
	            <a href="https://mashup-app.herokuapp.com/api/pipes/{{user._id}}/{{pipe.name}}" target="_blank">/api/pipes/{{user._id}}/{{pipe.name}}</a>
	            <!-- <a href="http://localhost:1337/api/pipes/{{user._id}}/{{pipe.name}}" target="_blank">/api/pipes/{{user._id}}/{{pipe.name}}</a> -->
	          </td>
	        </tr>
	        <tr>
	          <td class='td-label'>Endpoints</td>
	          <td>
				<span ng-repeat='endpoint in endpoints'>
					<a
						href='/api/{{ pipe._id }}/{{ endpoint }}'
						method='post'
						target='_blank'
						download='{{ pipe.name }}.{{ endpoint }}'>{{ endpoint }}
					</a>
					<span ng-if='(endpoints.indexOf(endpoint) < endpoints.length - 1)'>| </span>
				</span>
	          </td>
	        </tr>
	        <tr>
	          <td class='td-label'>Input Pipes</td>
	          <td>
	          	<span ng-repeat="inputPipe in inputs.pipes">
		            <a id="pipes" class="pointer" ng-click="inputPipe.go(user._id)">{{ inputPipe.name }}</a>
		            <button ng-show="editing.pipes"
		              class='btn-nodemono-sm'
		              ng-click="removeFromPipe(inputPipe._id, 'pipe')">X
		            </button>
		             {{$last ? '' : '|'}}
	          	</span>
	          	<button
			      class='btn-nodemono'
			      ng-class="editing.pipes ? 'editing' : 'not-editing'"
			      ng-click="toggleStatus('pipes')"
			      ng-bind="editing.pipes ? 'save' : 'edit'">
			    </button>
	          </td>
	        </tr>
	        <tr>
	          <td class='td-label'>Input Routes</td>
	          <td>
	          	<span id="routes" ng-repeat="inputRoute in inputs.routes">
		            <a class="pointer" ng-click="inputRoute.go(user._id)">{{ inputRoute.name }}</a>
		            <button ng-show="editing.routes"
		              class='btn-nodemono-sm'
		              ng-click="removeFromPipe(inputRoute._id, 'routes')">X
		            </button>
		             {{$last ? '' : '|'}}
	          	</span>
	          	<button
			      class='btn-nodemono'
			      ng-class="editing.routes ? 'editing' : 'not-editing'"
			      ng-click="toggleStatus('routes')"
			      ng-bind="editing.routes ? 'save' : 'edit'">
			    </button>
	          </td>
	        </tr>
	        <tr>
	          <td class='td-label'>Filters</td>
	          <td>
	          	<span id="filters" ng-repeat="filter in filters">
		            <a> {{ filter.name }} </a>
		            <button ng-show="editing.filters"
		              class='btn-nodemono-sm'
		              ng-click="removeFromPipe(filter._id, 'filters')">X
		            </button>
		             {{$last ? '' : '|'}}
	          	</span>
	          	<button
			      class='btn-nodemono'
			      ng-class="editing.filters ? 'editing' : 'not-editing'"
			      ng-click="toggleStatus('filters')"
			      ng-bind="editing.filters ? 'save' : 'edit'">
			    </button>
	          </td>
	        </tr>
	        <tr>
	          <td class='td-label'>Crawl Status</td>
	          <td>
	            <span
	              id='nm-status'
	              ng-show='!editing.crawl'
	              ng-class="pipe.lastPipeSucceeded ? ['glyphicon glyphicon-ok-circle', 'success'] : ['glyphicon glyphicon-remove-circle', 'error']">
	            </span>
	            <span ng-show='editing.crawl' class='glyphicon glyphicon-refresh loading'></span>
	            <span ng-show='!editing.crawl' ng-model='pipeStatus'>{{ pipeStatus }} ({{ pipe.lastTimePiped | date : 'short' }})</span>
	            <span ng-show='editing.crawl' style='color: green;'>Updating...</span>
	          </td>
	        </tr>
	      </tbody>
	    </table>
	  </div>
	</div>
	<br>
	<div class='row'>
	  <tabset justified='true'>
	    <tab ng-repeat='tab in tabs' ui-sref='pipe.{{ tab.url }}'>
	      <tab-heading>
	        <span class='glyphicon glyphicon-{{ tab.glyphicon }}'> {{ tab.header }}</span>
	      </tab-heading>
	    </tab>
	  </tabset>
		<ui-view class='tab-content'></ui-view>
	</div>
	<br>
	<button class='btn btn-danger' ng-click='deletePipe()' ng-hide='!data.length'>Delete Pipe</button>
	<br>
</section>
