<div class="nodemonoToolbar" ng-controller="ToolbarCtrl">

<!-- navbar logo and title -->
    <div id="title-navbar">
        <a id="header-navbar" href="#ourwebsite">mashup</a>
    </div>

<!-- navbar -->
    <div class="btn-container">
            <!-- for all forms -->
            <button id="backButton" ng-click="cancel(); $event.preventDefault(); $event.stopPropagation();" class="toolbarEl hide">
            <img ng-src='{{backBtnUrl}}' id='backBtnImg' ng-click="cancel(); $event.preventDefault(); $event.stopPropagation();"></img>
            </button>

            <!-- for pagination form -->

            <select id='paginationDepthSelector' ng-model="apiRoute.depth" class="toolbarEl hide" ng-change="selectedDepth()">
                <option value='1'>1</option>
                <option value='5'>5</option>
                <option value='10'>10</option>
                <option value='25'>25</option>
                <option value='50'>50</option>
            </select>
            <!-- for property form -->
            <button id="oneButton" ng-click="oneBtnClick(); $event.preventDefault(); $event.stopPropagation();" class='toolbarEl hide'>One</button>
            <button id="allButton" ng-click="allBtnClick(); $event.preventDefault(); $event.stopPropagation();" class='toolbarEl hide'>All</button>
            <div id="attrSelectors">
            </div>
            <input id="nameInput" type="text" placeholder="Name" ng-model='currentProperty.name' class='toolbarEl hide'></input>
            <button id="saveBtn" ng-click="save();" class='toolbarEl hide'>Save</button>
                <!--  -->
            <button type="submit" id="doneBtn" class="toolbarEl show" ng-click="doneClicked()">Done</button>

            <button type="submit" id="previewBtn" class="toolbarEl show" ng-click="previewData()">Preview</button>
            <button id='paginationMode' class='toolbarEl show' ng-click="paginationMode()" ng-style="inPaginationMode?{'background-color':'#ADD8E6'}:{}">+
            <img src='{{documentImgUrl}}' id='pagButtonImg' ng-click='paginationMode()'>
            </button>

            <div id="pagButtons">
            </div>
            <div id="propButtons">
            </div>
    </div>
    <!-- show collection and preview crawl data -->
    <div ng-if="showPreviewData&&!showCollectionOverlay" id="previewData" ng-controller="previewDataCtrl" class="animateOverlay">
        <div class="navbar-form navbar-right">
            <button type="submit" class="toolbarEl show backBtn" ng-click="backClicked()" >Back</button>
        </div>
        <div ng-if="apiRoute.data.length" class="dataPreviewContainer">
            <button class="toolbarEl show" ng-click="showCollection()">
            Collection
            </button>
            <button class="toolbarEl show" ng-click="showPreviewData()">
            Preview
            </button>
        </div>
        <div ng-if="showCollectionSelected" class="listColectionContainer">
            <div ng-repeat="d in apiRoute.data">
                <h2 style="display:inline !important">Collection:<h3 style="display:inline !important">{{d.name}}</h3></h2>
                <ul ng-repeat="(key,value) in d" ng-if="value&&value.length&&(key!=='name')">
                    <li>{{key | uppercase}}:&nbsp "{{value}}"</li>
                </ul>
            </div>
        </div>
        <div ng-if="!showCollectionSelected">
            <table id="dataPreviewTable" class="table" style='overflow: none'>
                <tr>
                    <th>index</th>
                    <th ng-repeat='header in headers'>{{ header }}</th>
                </tr>
                <tr ng-repeat='r in rows'>
                    <td>{{ r.index }}</td>
                    <td ng-repeat='header in headers'>{{ dataPreview[header][r.index] }}</td>
                </tr>
            </table>
        </div>
        <div ng-if="!apiRoute.data.length" class="previewDataNotice">
            <h3>You have no collection, please select at least one collection</h3>
        </div>
    </div> <!-- end of previewData  -->
    <!-- show overlay when click done button, prompt login function or setup route UI -->
    <div ng-if="showCollectionOverlay&&!showPreviewData" id="collectionOverlay" ng-controller="OverlayCtrl" class="animateOverlay" >

        <div class="navbar-form navbar-right">
            <button type="submit" class="toolbarEl show backBtn" ng-click="backClicked()" >Back</button>
        </div>
        <!-- show login form if no user found -->
        <div class='loginForm' ng-if="!user && showLogin">
            <form id="login-form" name="loginForm">
                <alert type="danger" ng-show="error">
                {{ error }}
                </alert>
                <div>
                    <label for="email" class="labelOverlay">Email address</label>
                    <input type="text" ng-model="login.email" class="toolbarEl show" id="email" placeholder="Enter email">
                </div>
                <div>
                    <label for="login-password" class="labelOverlay">Password</label>
                    <input type="password" ng-model="login.password" class="toolbarEl show" id="login-password" placeholder="Password">
                </div>
                <button type="submit" class="toolbarEl show" ng-click='loginForm.$valid && sendLogin(login)'>Log In</button> or
                <a type="submit" ng-click="toggleLogin()" style="cursor: pointer;">Sign Up</a>
            </form>
            <div ng-if="error">{{error}}</div>
        </div>
        <div class="signupForm" ng-if="!user && showSignup">
            <form id="signup-form" name="signupForm">
                <div>
                    <label class="labelOverlay">Name</label>
                    <input name="name" type="text" class="toolbarEl show" ng-model="user.name" placeholder="Full Name" required="required">
                </div>
                <div>
                    <label class="labelOverlay">Email</label>
                    <input name="email" type="text" class="toolbarEl show" ng-model="user.email" placeholder="E-mail" required="required">
                </div>
                <div>
                    <label class="labelOverlay">Password</label>
                    <input name="password" type="text" class="toolbarEl show" ng-model="user.password" placeholder="Password">
                </div>
                <button class="toolbarEl show" ng-click="signUpNewUser(user);" type="submit">Sign Up</button> or
                <a ng-click="toggleLogin()" type="submit" style="cursor: pointer;">Login</a>
            </form>
        </div>
        <!-- show new routes interface after user's login -->
        <div ng-if="user" class="newRouteConfigureForm">
            <h4 style="color:white;">Enter Route details</h4>
            <form>
                <div>
                    <input name="route" type="text" class="toolbarEl show" ng-model="apiRoute.name" placeholder="Route name" ng-change='checkName()'>
                </div>
                <button class="toolbarEl show" ng-click="createRoute(route)" type="submit" ng-if="!apiRoute._id">Create Route</button>
                <button class="toolbarEl show" ng-click="updateRoute(route)" type="submit" ng-if="apiRoute._id">Update Route</button>
                <div ng-if="error" style="color:white">{{error}}</div>
            </form>
        </div>

    </div> <!-- end of collectionOverlay  -->
</div>
