/* VARIABLES AND ANIMATIONS */
$api-font-xs: 10px;
$api-font-sm: 14px;
$api-font-med: 20px;
$api-font-lg: 30px;
// safari and chrome
@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// others
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// class necessary for animation
.loading {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  color: rgb(0, 255, 163)
}

/* GENERAL STYLING */
#profile {
  padding: 50px;
  width: $nodemono-width;
  margin: 0 auto;
}

.btn-nodemono {
  font-size: $api-font-xs;
  border: 1px solid $nodemono-gray;
  background: inherit;
  color: $nodemono-gray;
  margin-top: 10px; margin-bottom: 10px;
  border: 1px solid lighten($nodemono-gray, 20%);
  color: lighten($nodemono-gray, 10%);

  &:hover {
    color: $nodemono-red;
  }
}

.btn-nodemono-sm {
  font-size: $api-font-xs;
  border: 1px solid $nodemono-gray;
  padding-bottom: 1px;
  background: inherit;
  color: $nodemono-gray;
  margin-top: 5px; margin-bottom: 5px;
  border: 1px solid lighten($nodemono-gray, 20%);
  color: lighten($nodemono-gray, 10%);

  &:hover {
    color: $nodemono-red;
  }
}

.success { color: green; }
.error { color: red; }

.editing {
  background: rgb(64, 157, 0);
  color: white;
}
.not-editing {
  background: inherit;
  color: $nodemono-gray;
}

/* API HEADER */
#apiHeader {
  height: 42px;
  display: flex;
  align-content: center;

  p {
    font-size: $api-font-lg;
    margin: 0;
    margin-right: 10px;
  }

  button { border-radius: 4px; }
}

table#headerTable {
  display: flex;
  align-content: center;

  td.td-label {
    width: 150px;
    color: darken($nodemono-gray, 10%);
  }

  button {
    border-radius: 4px;
  }

  #nm-status {
    & + span { color: $nodemono-gray; }
  }
}

.api-action {
  height: 42px;
  display: flex;
  align-content: center;
  justify-content: flex-end;

  button {
    padding-top: 1px; padding-bottom: 1px;
    border: 1px solid darken($nodemono-gray, 10%);
    color: darken($nodemono-gray, 10%);
  }
}

/* TABS */
.tab-content {
  padding: 10px !important;
}

/* DATA PREVIEW */
table#dataPreviewTable {
  font-size: $api-font-xs;
  width: 100%;

  td, th {
    word-wrap: break-word;
    max-width: 200px;
    padding: 4px;
  }

  tr {

    &:nth-child(even) {
      background: lighten($nodemono-gray, 30%);
    }
  }
}

div#pipePreviewContainer {
  width: 100%;
  overflow: auto;
}

.data-preview {
  margin-top: 15px;
}

/* PIPE PREVIEW */
table#pipePreviewTable {
  font-size: $api-font-xs;
  width: 100%;
  // table-layout: fixed;

  td, th {
    word-wrap: break-word;
    max-width: 200px;
    padding: 4px;
  }

  td.data-column {
    min-width: 100px;
  }

  td.index-column {
    min-width: 10px;
  }

  tr {

    &:nth-child(even) {
      background: lighten($nodemono-gray, 30%);
    }
  }
}

/* CRAWL SETUP */
.btn-crawl-start {
  font-size: $api-font-sm;
}
.listUrl{
  height: 40vh;
}
#crawlsetup {

  h5 {
    font-size: $api-font-sm;
    font-weight: bolder;
    margin-top: 0;
  }

  .strategy-selector {

    .label {
      color: $nodemono-gray;
      font-size: $api-font-xs;
      font-weight: lighter;
      padding: 0;
      @extend %clearfix;
    }

    select {
      background: inherit;
      border-radius: 4px;
      padding: 2px;
      font-size: $api-font-sm;
    }
  }

  table#crawlstatustable {
    font-size: $api-font-sm;

    td { padding-top: 3px; padding-bottom: 3px; }

    .td-status-extra { color: lighten($nodemono-gray, 10%); }
    td.td-status-label {
      width: 100px;
      font-size: $api-font-xs;
      font-weight: lighter;
      color: lighten($nodemono-gray, 10%);
    }
  }
}

/* MODIFY RESULTS */
#modify {

  h4 {
    font-size: $api-font-sm;
    margin-top: 0;
  }
  p { font-size: $api-font-xs; }
  h5 { font-size: $api-font-xs; }
  pre { height: 40vh; }

  .preview {
    font-size: $api-font-xs;
    background: lighten($nodemono-gray, 40%);
    color: darken($nodemono-gray, 20%);
  }

  #editor {
    // background: lighten($nodemono-gray, 40%);
    height: 40vh;
  }
}

/* USE DATA */
#use {
  text-align: center;

  .exportCard {
    // background: lighten($nodemono-gray, 35%);
    width: 250px;
    height: 250px;
    margin-left: 40px;
    margin-right: 40px;
    // border: 1px solid $nodemono-gray;
    display: inline-block;
    transition: 0.2s ease-in-out;
    div {
      display: flex;
      justify-content: center;
      align-content: center;

      &.export-name {
        height: 30%;

          a {
            height: 20%;

            h4 {
              color: $nodemono-red;
              text-align: center;
              height: inherit;
            }
          }
      }

      &.export-details {
        height: 70%;

        a {
          height: 90%;
          img {
            height: inherit;
          }
        }
      }
    }
  }
}

.exportCard:hover {
  color: #3498DB;
  opacity: 0.8;
}

//class for result types
.result-view{
  margin-right: 20%;

}

// li + .active{
//   border-radius:10%;
// }
// li + .active >a{
//   color:white !important;
//   background-color: #337ab7 !important;
// }

.resultType{
  float:right !important;
  list-style-type:none;
  cursor:pointer;
}

.textareaPreview{
  height: 50em;
  width: 100%;
}

.filter{
  margin-top: 3px;
  width: 200px;
}

.filter label{
  display: inline;
  // height:25px;
  width:50%;
}

.filter input{
  display: inline-block !important;
  // height: 25px;
  width:50%;
}
