$apiheader-font-small: 10px;
$apiheader-font-large: 30px;

table {
  display: flex;
  align-content: center;

  button {
    border: 1px solid $nodemono-gray;
    border-radius: 4px;
    background: inherit;
    color: $nodemono-gray;
    font-size: $apiheader-font-small;

    &:hover {
      color: $nodemono-red;
      border: 1px solid lighten($nodemono-gray, 10%);
    }
  }

  #nm-status {
    color: green;

    &+span { color: $nodemono-gray; }
  }
}

table#apiContentTable {
  width: 50%;

  tr {

    &:nth-child(even) {
      background: lighten($nodemono-gray, 30%);
    }
  }
}

.btn-nodemono {
  font-size: $apiheader-font-small;
  border: 1px solid $nodemono-gray;
  background: inherit;
  color: $nodemono-gray;
  margin-top: 10px; margin-bottom: 10px;
  border: 1px solid lighten($nodemono-gray, 20%);
  color: lighten($nodemono-gray, 10%);

  &:hover {
    color: $nodemono-red;
  }
}

#apiHeader {
  height: 42px;
  display: flex;
  align-content: center;

  p {
    font-size: $apiheader-font-large;
    margin: 0;
    margin-right: 10px;
  }

  button {
    border-radius: 4px;
  }
}

#apiEdit {
  height: 42px;
  display: flex;
  align-content: center;
  justify-content: flex-end;

  button {
    padding-top: 1px; padding-bottom: 1px;
    border: 1px solid darken($nodemono-gray, 10%);
    color: darken($nodemono-gray, 10%);
  }
}
