<section class="container col-lg-6" id="signin-container">
    <form name="signupForm" ng-submit="signup(credentials)">
        <div class="form-group">
            <label for="name">Your Name:</label>
            <input type="text" ng-model="credentials.name" class="form-control" placeholder="Enter your name">
        </div>

        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="text" ng-model="credentials.email" class="form-control" id="email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="login-password">Password:</label>
            <input type="password" ng-model="credentials.password" class="form-control" id="login-password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary" id="signin-submit">Sign up!</button>
    </form>

    <hr>

    <div class="container col-lg-6" id="signup-btns">
        <oauth-button provider-name="Google"></oauth-button>
        <br><br>   
        <oauth-button provider-name="Github"></oauth-button>
    </div>
</section>

