html {
  overflow-y: scroll; }

* {
  box-sizing: border-box; }

body {
  background: #fdfdfd; }

#about:after, #crawlsetup .strategy-selector .label:after {
  content: "";
  display: table;
  clear: both; }

#main {
  width: 80%;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto; }

nodemono-logo {
  display: block;
  cursor: pointer; }
  nodemono-logo img {
    display: block;
    width: 100%; }

navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #f8f8f8;
  height: 50px; }
  navbar .navbar {
    border-radius: 0; }
    navbar .navbar.navbar-static-top {
      height: inherit; }
      navbar .navbar.navbar-static-top .container {
        width: 80%;
        height: inherit; }
        navbar .navbar.navbar-static-top .container > * {
          box-sizing: border-box;
          height: 100%; }
        navbar .navbar.navbar-static-top .container .divider {
          background: #e3e3e3;
          border-bottom: 1px solid #969696;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center; }
          navbar .navbar.navbar-static-top .container .divider span {
            color: #7d7d7d;
            cursor: pointer; }
  navbar .nav {
    display: flex;
    justify-content: center; }
    navbar .nav .navbar-search {
      width: 200px;
      border: none;
      border-bottom: 1px solid #969696; }
  navbar nodemono-logo {
    margin-right: 20px;
    height: inherit; }
    navbar nodemono-logo > img {
      box-sizing: border-box;
      padding: 5px;
      width: 50px; }
  navbar a {
    color: black;
    font-size: 16px; }
  navbar .login-button {
    box-sizing: border-box;
    float: right;
    background: none;
    outline: none !important;
    height: 100%;
    transition: color 0.2s;
    color: white; }
    navbar .login-button.active {
      color: #c80a0c; }
    navbar .login-button:hover {
      color: #E74C3C; }
  navbar .welcome {
    float: right;
    height: 100%; }
    navbar .welcome span {
      color: #969696; }
      navbar .welcome span span {
        cursor: pointer; }
        navbar .welcome span span:hover {
          color: #E74C3C; }
    navbar .welcome button {
      cursor: pointer; }

.btn-logo {
  font-size: 20px !important;
  float: left;
  background: none;
  outline: none !important;
  color: white;
  cursor: initial; }

.btn-login {
  margin-top: 5px;
  margin-left: 5px; }

#searchbar {
  margin-top: 2px; }

.glyphicon-ok {
  font-size: 1em; }

status-bar {
  position: absolute;
  width: 30%;
  float: left; }
  status-bar .success {
    background: rgba(59, 199, 0, 0.5); }
  status-bar .error {
    background: rgba(255, 0, 0, 0.5); }
  status-bar p {
    width: 100%;
    margin-bottom: 1px;
    padding-left: 10px; }

#signin-container {
  width: 30%;
  top: 10vh;
  padding: 10px;
  float: none;
  box-shadow: 5px 5px 19px #888888; }
  #signin-container oauth-button {
    margin-right: 20px;
    width: 100%; }

#signin-submit {
  width: 100%; }

#signup-btns {
  float: none;
  text-align: center; }

#main-title {
  color: white; }

#sub-title {
  color: #ECF0F1; }

#invite-title {
  color: #BDC3C7; }

.intro-header {
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: white; }

#row-cover {
  background: url("./images/triangles.png");
  background-color: #2980B9; }

.intro-message {
  padding-top: 5%; }

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

#second-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto; }
  #second-logo :hover {
    opacity: 0.2; }

.chrome-invite {
  padding-top: 6%; }

.content-section-a {
  padding: 50px 0; }

.content-section-b {
  padding: 50px 0; }

.content-section-c {
  padding: 50px 0; }

.icon-container {
  text-align: center; }

.flat-icons {
  margin-top: 7%;
  width: 33%; }

#clipboard-icon {
  margin-top: 0; }

#main-footer {
  padding-top: 10px !important; }

.main-container {
  padding-top: 50px; }

#about {
  width: 90%; }
  #about p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left; }

#signup-container {
  margin-top: 200px;
  text-align: center; }

#login-container {
  width: 45%;
  top: 25vh;
  padding: 10px;
  float: none;
  box-shadow: 5px 5px 19px #888888; }
  #login-container oauth-button {
    margin-right: 20px;
    width: 25px; }

#login-submit {
  width: 100%; }

#signup-btn {
  width: 100%; }

#invalid {
  margin-top: 10px;
  margin-bottom: 0; }

#glyphy {
  font-size: .7em; }

/* VARIABLES AND ANIMATIONS */
@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.loading {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  color: #00ffa3; }

/* GENERAL STYLING */
#profile {
  padding: 50px;
  width: 80%;
  margin: 0 auto; }

.btn-nodemono {
  font-size: 10px;
  border: 1px solid #969696;
  background: inherit;
  color: #969696;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #c9c9c9;
  color: #b0b0b0; }
  .btn-nodemono:hover {
    color: #f31214; }

.btn-nodemono-sm {
  font-size: 10px;
  border: 1px solid #969696;
  padding-bottom: 1px;
  background: inherit;
  color: #969696;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #c9c9c9;
  color: #b0b0b0; }
  .btn-nodemono-sm:hover {
    color: #f31214; }

.success {
  color: green; }

.error {
  color: red; }

.editing {
  background: #409d00;
  color: white; }

.not-editing {
  background: inherit;
  color: #969696; }

/* API HEADER */
#apiHeader {
  height: 42px;
  display: flex;
  align-content: center; }
  #apiHeader p {
    font-size: 30px;
    margin: 0;
    margin-right: 10px; }
  #apiHeader button {
    border-radius: 4px; }

table#headerTable {
  display: flex;
  align-content: center; }
  table#headerTable td.td-label {
    width: 150px;
    color: #7d7d7d; }
  table#headerTable button {
    border-radius: 4px; }
  table#headerTable #nm-status + span {
    color: #969696; }

.api-action {
  height: 42px;
  display: flex;
  align-content: center;
  justify-content: flex-end; }
  .api-action button {
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #7d7d7d;
    color: #7d7d7d; }

/* TABS */
.tab-content {
  padding: 10px !important; }

/* DATA PREVIEW */
table#dataPreviewTable {
  font-size: 10px;
  width: 100%; }
  table#dataPreviewTable td, table#dataPreviewTable th {
    word-wrap: break-word;
    max-width: 200px;
    padding: 4px; }
  table#dataPreviewTable tr:nth-child(even) {
    background: #e3e3e3; }

/* CRAWL SETUP */
.btn-crawl-start {
  font-size: 14px; }

#crawlsetup h5 {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 0; }
#crawlsetup .strategy-selector .label {
  color: #969696;
  font-size: 10px;
  font-weight: lighter;
  padding: 0; }
#crawlsetup .strategy-selector select {
  background: inherit;
  border-radius: 4px;
  padding: 2px;
  font-size: 14px; }
#crawlsetup table#crawlstatustable {
  font-size: 14px; }
  #crawlsetup table#crawlstatustable td {
    padding-top: 3px;
    padding-bottom: 3px; }
  #crawlsetup table#crawlstatustable .td-status-extra {
    color: #b0b0b0; }
  #crawlsetup table#crawlstatustable td.td-status-label {
    width: 100px;
    font-size: 10px;
    font-weight: lighter;
    color: #b0b0b0; }

/* CRAWL HISTORY */
/* MODIFY RESULTS */
#modify h4 {
  font-size: 14px;
  margin-top: 0; }
#modify p {
  font-size: 10px; }
#modify h5 {
  font-size: 10px; }
#modify pre {
  height: 40vh; }
#modify .preview {
  font-size: 10px;
  background: #fcfcfc;
  color: #636363; }
#modify #editor {
  height: 40vh; }

/* USE DATA */
/* API DOCS */
.result-view {
  margin-right: 20%; }

.resultType {
  float: right !important;
  list-style-type: none;
  cursor: pointer; }

.textareaPreview {
  height: 50em;
  width: 100%; }

.filter {
  margin-top: 3px;
  width: 200px; }

.filter label {
  display: inline;
  width: 50%; }

.filter input {
  display: inline-block !important;
  width: 50%; }
