* {
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace; }

body {
  background: #fdfdfd; }

#main {
  padding-top: 40px;
  width: 1200px;
  margin: 0 auto; }

nodemono-logo {
  display: block;
  cursor: pointer; }
  nodemono-logo img {
    display: block;
    width: 100%; }

navbar {
  display: block;
  background: white;
  border-bottom: 1px solid #969696;
  height: 50px; }
  navbar .navbar.navbar-static-top {
    height: inherit; }
    navbar .navbar.navbar-static-top .container {
      width: 90%;
      max-width: 1340px;
      height: inherit; }
      navbar .navbar.navbar-static-top .container > * {
        box-sizing: border-box;
        height: 100%; }
      navbar .navbar.navbar-static-top .container .divider {
        background: #e3e3e3;
        border-bottom: 1px solid #969696;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center; }
        navbar .navbar.navbar-static-top .container .divider span {
          color: #7d7d7d;
          cursor: pointer; }
          navbar .navbar.navbar-static-top .container .divider span:hover {
            color: #f31214; }
  navbar .nav {
    display: flex;
    justify-content: center; }
    navbar .nav .navbar-search {
      width: 200px;
      border: none;
      border-bottom: 1px solid #969696; }
  navbar nodemono-logo {
    margin-right: 20px;
    height: inherit; }
    navbar nodemono-logo > img {
      box-sizing: border-box;
      padding: 5px;
      width: 50px; }
  navbar a {
    color: black;
    font-size: 16px; }
  navbar .login-button {
    box-sizing: border-box;
    float: right;
    background: none;
    outline: none !important;
    height: 100%;
    transition: color 0.2s; }
    navbar .login-button.active {
      color: #c80a0c; }
    navbar .login-button:hover {
      color: #f31214; }
  navbar .welcome {
    float: right;
    height: 100%; }
    navbar .welcome span {
      color: #969696; }
      navbar .welcome span span {
        cursor: pointer; }
        navbar .welcome span span:hover {
          color: #f31214; }
    navbar .welcome button {
      cursor: pointer; }

#home nodemono-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto; }
#home h3, #home h4 {
  margin-top: 40px;
  text-align: center; }
  #home h3 span, #home h4 span {
    color: #f31214; }
#home h4 {
  color: #969696;
  font-weight: bolder; }

#about {
  margin: 0 auto;
  width: 90%; }
  #about:after {
    content: "";
    display: table;
    clear: both; }
  #about p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left; }
  #about .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto; }
    #about .carousel .carousel-inner {
      height: 500px !important; }
    #about .carousel .carousel-control {
      background: none; }
    #about .carousel .carousel-indicators {
      display: none; }
    #about .carousel img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto; }

#login-form {
  width: 60%;
  margin: 0 auto; }
