* {
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace; }

body {
  background: #fdfdfd; }

#main {
  width: 70%;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto; }

nodemono-logo {
  display: block;
  cursor: pointer; }
  nodemono-logo img {
    display: block;
    width: 100%; }

navbar {
  display: block;
  background: white;
  border-bottom: 1px solid #969696;
  height: 50px; }
  navbar .navbar.navbar-static-top {
    height: inherit; }
    navbar .navbar.navbar-static-top .container {
      width: 70%;
      height: inherit; }
      navbar .navbar.navbar-static-top .container > * {
        box-sizing: border-box;
        height: 100%; }
      navbar .navbar.navbar-static-top .container .divider {
        background: #e3e3e3;
        border-bottom: 1px solid #969696;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center; }
        navbar .navbar.navbar-static-top .container .divider span {
          color: #7d7d7d;
          cursor: pointer; }
          navbar .navbar.navbar-static-top .container .divider span:hover {
            color: #f31214; }
  navbar .nav {
    display: flex;
    justify-content: center; }
    navbar .nav .navbar-search {
      width: 200px;
      border: none;
      border-bottom: 1px solid #969696; }
  navbar nodemono-logo {
    margin-right: 20px;
    height: inherit; }
    navbar nodemono-logo > img {
      box-sizing: border-box;
      padding: 5px;
      width: 50px; }
  navbar a {
    color: black;
    font-size: 16px; }
  navbar .login-button {
    box-sizing: border-box;
    float: right;
    background: none;
    outline: none !important;
    height: 100%;
    transition: color 0.2s; }
    navbar .login-button.active {
      color: #c80a0c; }
    navbar .login-button:hover {
      color: #f31214; }
  navbar .welcome {
    float: right;
    height: 100%; }
    navbar .welcome span {
      color: #969696; }
      navbar .welcome span span {
        cursor: pointer; }
        navbar .welcome span span:hover {
          color: #f31214; }
    navbar .welcome button {
      cursor: pointer; }

#signin-container {
  top: 10vh;
  border: 1px solid black;
  padding: 10px;
  float: none;
  box-shadow: 10px 10px 40px #888888; }
  #signin-container oauth-button {
    margin-right: 20px;
    width: 100%; }

#signin-submit {
  width: 100%; }

#signup-btns {
  float: none; }

#home nodemono-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto; }
#home h3, #home h4 {
  margin-top: 40px;
  text-align: center; }
  #home h3 span, #home h4 span {
    color: #f31214; }
#home h4 {
  color: #969696;
  font-weight: bolder; }

#about {
  margin: 0 auto;
  width: 90%; }
  #about:after {
    content: "";
    display: table;
    clear: both; }
  #about p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left; }
  #about .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto; }
    #about .carousel .carousel-inner {
      height: 500px !important; }
    #about .carousel .carousel-control {
      background: none; }
    #about .carousel .carousel-indicators {
      display: none; }
    #about .carousel img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto; }

#signup-container {
  float: none;
  margin: 0 auto;
  text-align: center; }

#login-container {
  top: 10vh;
  border: 1px solid black;
  padding: 10px;
  float: none;
  box-shadow: 10px 10px 40px #888888; }
  #login-container oauth-button {
    margin-right: 20px;
    width: 100%; }

#login-submit {
  width: 100%; }

#signup-btn {
  width: 100%; }

#invalid {
  margin-top: 10px;
  margin-bottom: 0; }

.btn-nodemono {
  font-size: 10px;
  border: 1px solid #969696;
  background: inherit;
  color: #969696;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #c9c9c9;
  color: #b0b0b0; }
  .btn-nodemono:hover {
    color: #f31214; }

table#headerTable {
  display: flex;
  align-content: center; }
  table#headerTable td.td-label {
    width: 150px;
    color: #7d7d7d; }
  table#headerTable button {
    border-radius: 4px; }
  table#headerTable #nm-status {
    color: green; }
    table#headerTable #nm-status + span {
      color: #969696; }

table#dataPreviewTable {
  font-size: 10px;
  width: 100%; }
  table#dataPreviewTable td, table#dataPreviewTable th {
    word-wrap: break-word;
    max-width: 200px;
    padding: 4px; }
  table#dataPreviewTable tr:nth-child(even) {
    background: #e3e3e3; }

#apiHeader {
  height: 42px;
  display: flex;
  align-content: center; }
  #apiHeader p {
    font-size: 30px;
    margin: 0;
    margin-right: 10px; }
  #apiHeader button {
    border-radius: 4px; }

#apiEdit {
  height: 42px;
  display: flex;
  align-content: center;
  justify-content: flex-end; }
  #apiEdit button {
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #7d7d7d;
    color: #7d7d7d; }
