
navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #f8f8f8;
  height: 50px;

  .navbar {
    border-radius: 0;
    &.navbar-static-top {
      height: inherit;

      .container {
        width: $nodemono-width;
        height: inherit;

        & > * {
          box-sizing: border-box;
          height: 100%;
        }

        .divider {
          background: lighten($nodemono-gray, 30%);
          border-bottom: 1px solid $nodemono-gray;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            color: darken($nodemono-gray, 10%);
            cursor: pointer;

            // &:hover { color: $nodemono-red; }
          }
        }
      }
    }
  }

  .nav {
    display: flex;
    justify-content: center;

    .navbar-search {
      width: 200px;
      border: none;
      border-bottom: 1px solid $nodemono-gray;
    }
  }

  nodemono-logo {
    margin-right: 20px;
    height: inherit;

    & > img {
      box-sizing: border-box;
      padding: 5px;
      width: 50px;
    }
  }

  a {
    color: black;
    font-size: 16px;
  }

  .login-button {
    box-sizing: border-box;
    float: right;
    background: none;
    outline: none !important;
    height: 100%;
    transition: color 0.2s;
    color: white;

    &.active { color: darken($nodemono-red, 10%); }
    &:hover { color: #E74C3C; }
  }

  .welcome {
    float: right;
    height: 100%;

    span {
      color: $nodemono-gray;

      span {
        cursor: pointer;
        &:hover { color: #E74C3C; }
        // &:hover { color: $nodemono-red; }
      }
    }
    button {
      cursor: pointer;
    }
  }

}

.btn-logo{
    font-size: 20px !important;
    float: left;
    background: none;
    outline: none !important;
    color: white;
    cursor: initial;
}

.btn-login{
  margin-top: 5px;
  margin-left: 5px;
}

#searchbar{
  margin-top: 2px;
}
