navbar {

  display: block;
  background: white;
  border-bottom: 1px solid $nodemono-gray;
  height: 50px;

  .navbar {

    &.navbar-static-top {
      height: inherit;

      .container {
        width: $nodemono-width;
        height: inherit;

        & > * {
          box-sizing: border-box;
          height: 100%;
        }

        .divider {
          background: lighten($nodemono-gray, 30%);
          border-bottom: 1px solid $nodemono-gray;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            color: darken($nodemono-gray, 10%);
            cursor: pointer;

            &:hover { color: $nodemono-red; }
          }
        }
      }
    }
  }

  .nav {
    display: flex;
    justify-content: center;

    .navbar-search {
      width: 200px;
      border: none;
      border-bottom: 1px solid $nodemono-gray;
    }
  }

  nodemono-logo {
    margin-right: 20px;
    height: inherit;

    & > img {
      box-sizing: border-box;
      padding: 5px;
      width: 50px;
    }
  }

  a {
    color: black;
    font-size: 16px;
  }

  .login-button {
    box-sizing: border-box;
    float: right;
    background: none;
    outline: none !important;
    height: 100%;
    transition: color 0.2s;

    &.active { color: darken($nodemono-red, 10%); }
    &:hover { color: $nodemono-red; }
  }

  .welcome {
    float: right;
    height: 100%;

    span {
      color: $nodemono-gray;

      span {
        cursor: pointer;

        &:hover { color: $nodemono-red; }
      }
    }
    button {
      cursor: pointer;
    }
  }

}
