.nodemonoToolbar{
	height: 40px;
	width: 100%;
	position: fixed;
	display: inline-table;
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3456789;
}

#nodemonofy {
	height:40px;
	width: 100%;
	margin-bottom: 11px;
}