.nodemonoToolbar{
	height: 40px;
	width: 100%;
	position: fixed;
	display: inline-table;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3456789;
}

#nodemonofy {
	height:40px;
	width: 100%;
	margin-bottom: 11px;
  box-sizing:border-box;
}


.btn-circle{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50% !important;
}

/*.doneSelect{
  display: inline-block;
  float:right !important;
}*/



#collectionOverlay {
  z-index: 2147483700;
  width:100%;
  height:100%;
  background-color: black;
  position: fixed;
  backface-visibility: hidden;
  color: white;
}

.loginForm, .signupForm,.newRouteConfigureForm {
  margin-top: 15%%;
  width: 400px !important;
  margin-left: 33%;
  color: black;
  
}

.labelOverlay {
  color: white;
}
.routeFrequency {
  height:34px;
}

.selectStyle{
  height:100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50%;
  font-size: 20px;
  /*color: black;*/
}


/*toolbar buttons and fields*/
/*aplicable styles*/
.show {
  min-width:15%;
  max-width:40%;
}
.hide {
  width: 0;
}

/*the elements*/
#oneButton{
  height:50px;
  background-color: #00ff00;
  transition: all 0.5s;
}
#allButton{
  height:50px;
  background-color: yellow;
  transition: all 0.5s;
}
#greenAttrSelector{
  height:50px;
  background-color: #00ff00;
  transition: all 0.5s;
}
#yellowAttrSelector{
  height:50px;
  background-color: yellow;
  transition: all 0.5s;
}
#nameInput{
  height:50px;
  transition: all 0.5s;
}
#saveBtn{
  height:50px;
  transition: all 0.5s;
}


















