#signup-container{
    margin-top: 200px;    
    text-align: center;
}

#login-container{
    width: 45%;
	top: 25vh;
    padding: 10px;
    float: none;
    box-shadow: 5px 5px 19px #888888;
    oauth-button{
    	margin-right: 20px;
    	width: 25px;
    }
}

#login-submit{
	width: 100%;
}

#signup-btn{
	width: 100%;
}

#invalid{
	margin-top: 10px;
	margin-bottom: 0;
}

#glyphy{
    font-size:.7em;
}