#signup-container{
    float: none;
    margin: 0 auto;
    text-align: center;
}

#login-container{
	top: 10vh;
    padding: 10px;
    float: none;
    box-shadow: 5px 5px 19px #888888;
    oauth-button{
    	margin-right: 20px;
    	width: 100%;
    }
}

#login-submit{
	width: 100%;
}

#signup-btn{
	width: 100%;
}

#invalid{
	margin-top: 10px;
	margin-bottom: 0;
}
