<div class="row result-view" ng-hide='!data.length'>
	<table>
		<tr>
			<th>filter</th>
			<th>preview format</th>
			<th>copy to clipboard</th>
		</tr>
		<tr>
			<td><input ng-model="search.text"></td>
			<td>
				<span ng-repeat="type in resultTypes">
					<a
						class="resultType"
						ng-class="{active:activeResultType===type.name}"
						ng-click="setActiveType(type)">{{type.name}}
					</a>
					<span ng-if='(resultTypes.indexOf(type) < resultTypes.length - 1)'> | </span>
				</span>
			</td>
			<td><a clip-copy="copyToClipBoard()" id="copyToClipBoardBtn">Copy</a></td>
		</tr>
	</table>
</div>

<div class="data-preview">
	<div ng-if="activeResultType!=='CSV'">
		<!-- <pre class="pipeDataPre">{{dataPreview}}</pre> -->
		<textarea class="textareaPreview">{{dataPreview}}</textarea>
	</div>
	<div id="pipePreviewContainer">
		<div ng-if="waiting" class="alert alert-info" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  Waiting for the data ...
		</div>
		<div ng-if="noData" class="alert alert-danger" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  No data was returned
		</div>
		<table ng-hide="noData || waiting" id='pipePreviewTable' ng-if="activeResultType=='CSV'">
		  <tr>
		    <th>index</th>
		    <th ng-repeat='header in headers'>
		    	{{ isInterleaved ? header : header.name }}
		    </th>
		  </tr>
		  <tr ng-repeat='r in rows | filter:dataFilter()'>
		    <td class="index-column">{{ r.index }}</td>
		    <td ng-repeat='header in headers' class="data-column">
		    	{{ isInterleaved ? data[r.index][header] : data[header.dataIdx][header.name][r.index] }}
		    </td>
		  </tr>
		</table>
	</div>
</div>
