.main-container{
  padding-top: 50px;
}

#about {

  width: 90%;
  @extend %clearfix;

  p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left;
  }
}
