<div class="intro-header col-lg-12">
    <div class="row" id="row-cover">
        <div class="col-lg-12">
            <div class="intro-message" class='col-lg-6'>
                <nodemono-logo ng-click='installChromeExt()' id="second-logo"></nodemono-logo>
                <h1 id="main-title">mash<span class="glyphicon glyphicon-hand-up"></span></h1>
                <h4 id="sub-title">Web scraping made easy</h4>
                <hr class="intro-divider"> 
                <div class="chrome-invite">
                    <h6 id="invite-title" ng-if='hasChrome()'>Get started now! Click logo to install extension.</h6>
                </div>
            </div>
        </div>
    </div>
</div>		

<div class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-sm-6">
                <h2 class="section-heading">A tool meant for devolopers!</h2>
                <p class="lead"> Open source version of Kimono Labs to create private and public APIs for data crawling.</p>
            </div>

            <div class="col-lg-6 col-sm-6 icon-container">
                <img src="/flat-ui/images/icons/svg/map.svg"class="flat-icons">
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-sm-6 icon-container">
                <img src="/flat-ui/images/icons/svg/clipboard.svg" class="flat-icons" id="clipboard-icon">
            </div>

            <div class="col-lg-6 col-sm-6">
                <h2 class="section-heading">Data Mining. Easy.</h2>
                <p class="lead">Archive your API data and filter it with our in-house version of Yahoo pipes.</p>
            </div>
        </div>
    </div>
</div>

<div class="content-section-c">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-sm-6">
                <h2 class="section-heading">Fork Me!</h2>
                <p class="lead"> Our project is designed for you. Contribute to our work!</p>
            </div>

            <div class="col-lg-6 col-sm-6 icon-container">
                <img src="/flat-ui/images/icons/svg/pencils.svg"class="flat-icons">
            </div>

        </div>
    </div>
</div>

<!-- <div class="container">
    All users:
    <pre>{{ users | json }}</pre>
    All routes:
    <pre>{{ routes | json }}</pre>
    All pipes:
    <pre>{{ pipes | json }}</pre>
</div> -->
