<div class="intro-header col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-message" ng-class="hasChrome() ? 'col-lg-6' : 'col-lg-12'">
                <h1>Nodemono Labs</h1>
                <h3>Scrapping made easy</h3>
                <hr class="intro-divider"> 
            </div>
            <div ng-if='hasChrome()' class="col-lg-6 chrome-invite">
		      	<nodemono-logo ng-click='installChromeExt()'></nodemono-logo>
		      	<h4>Get started. Click to install.</h4>
		    </div>
        </div>
    </div>
</div>	

<div> - </div>	

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Easy for Scrapping Data:</h2>
                <p class="lead">A special thanks to Christian Ayscue, Will Ruggiano, Jack Mulrow, Thank Nguyen, and Alfonso Castro! </p>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
            <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
        </div>
    </div>
</div>

<div>
    All users:
    <pre>{{ users | json }}</pre>
    All routes:
    <pre>{{ routes | json }}</pre>
    All pipes:
    <pre>{{ pipes | json }}</pre>
</div>
