$nodemono-gray: rgba(150, 150, 150, 1);
$nodemono-red: #f31214;
$nodemono-width: 70%;

// scrollbar doesn't reposition page elements
html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  // font-family: "Lucida Console", Monaco, monospace;
}

body {
  background: #fdfdfd;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  width: $nodemono-width;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'signup/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';
@import 'api/main';
@import 'pipes/main';
@import "switch/main";
@import "profile/main";
