#signin-container{
	top: 10vh;
	border: 1px solid black;
    padding: 10px;
    float: none;
    box-shadow: 10px 10px 40px #888888;
    oauth-button{
    	margin-right: 20px;
    	width: 100%;
    }
}

#signin-submit{
	width: 100%;
}

#signup-btns{
	float: none;
}