#signin-container{
	top: 10vh;
    padding: 10px;
    float: none;
    box-shadow: 5px 5px 19px #888888;
    oauth-button{
    	margin-right: 20px;
    	width: 100%;
    }
}

#signin-submit{
	width: 100%;
}

#signup-btns{
	float: none;
}