.mock-mash{
	color: #bdc3c7;
}

#pipe-name{
	font-size: 24px;
}

#accordion{
	width: 830px;
}

.pane-list{
	padding-left: 15px;
}

.item-inactive{
	cursor: pointer;
	list-style-type: none;
	font-size: 17px;
	transition: 0.2s ease-in-out;
	p {
		margin: 0 0 -5px;
		span {
			color: white;
		}
	}
	small{
		color: #798795;
	}
	a {
		color: #1ABC9C;
	}
}


.item-active{
	cursor: pointer;
	list-style-type: none;
	font-size: 17px;
	transition: 0.2s ease-in-out;
	p {
		margin: 0 0 -5px;
		span {
			transition: 0.25s ease-in-out;
			color: #3498DB;
		}
	}
	small{
		color: #3498DB;
	}
	a {
		color: #3498DB;
	}
	color: #3498DB;
}

.parameter-form {
	* {
		color: black;
	}
	input {
		margin-left: 10px;
		// border-radius: 5px;
	}
}
