#accordion{
	width: 830px;
}

.todo{
	li {
		background-color: white !important;
		display: none;
	}
	input {
		display: none;
	}
}

.todo-search{
	height: 100% !important;
	border-bottom: 1px solid black;
	&:hover{
		.fui-arrow-right{
			transform: rotate(90deg);
		}
		li {
			display: block;
		}
		input {
			display: block;
		}
	}
}



.todo-content{
	h4 {
		color: #34495e;
	}
}



.bootstrap-tagsinput{
	float: left;
}

.tagsinput-primary {
    margin-bottom: 18px;
}

.tag {
	color: #fff;
    background-color: #1abc9c;

}

#pipes-sidebar{
	padding-top: 60px;
	padding-left: 0;
	overflow: scroll;
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	ul{
		list-style-type: none;
	}
}


#filter-sidebar{
	// padding-top: 60px;
	float: left;
	border-right: 2px solid #34495E;
	overflow: scroll;
	height: 100vh;
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	background-color: #fff !important;
	ul{
		list-style-type: none;
	}
}

#pipes-content{
	overflow: scroll;
	height: 100vh;
}


route{
	#name{
		margin-top: 5px;
	}
	p {
		margin: 0;
	}
}

.todo{
	background-color: white;
}

.todo-search {
	height: 80px;
    position: relative;
    background: white !important;
    background-size: 16px 16px;
    border-radius: 0 !important; 
    color: #34495e;
    padding: 19px 25px 20px;
    h6 { 
    	font-size: 22px;
    }
}


.todo-search:before {
  position: absolute;
  font-family: 'Flat-UI-Icons';
  content: "" !important;
  font-size: 16px;
  line-height: 17px;
  display: inline-block;
  top: 50%;
  left: 92%;
  margin: -0.5em 0 0 -1em;
}